@font-face {
    font-family: courierNew;
    src: url(../TestPitch-Semibold.otf);
}

@font-face {
    font-family: monument;
    src: url(../TestPitchSans-Semibold.otf);
}

html{
    font-size: 1rem;
    overflow: hidden !important;
    background-color: black;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden !important;
}

*{
    padding: 0;
    margin: 0;
}

a{
    /* color: white; */
    text-decoration: none;
}

.cover{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 5;
    cursor: pointer;
}

/* svg{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
} */

.cover div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: courierNew;
    font-size: 1.6rem;
}

header, footer{
    font-family: courierNew;
    font-size: 2.6rem;
    padding-top: 5vh;
    padding-bottom: 4vh;
    padding-left: 4vw;
    padding-right: 4vw;
    display: flex;
    position: fixed !important;
    justify-content: space-between;
    position: relative;
    width: 92vw;
    z-index: 4;
}

.name, .about{
    position: relative;
    width: 7.8rem;
    height: 2.4rem;
}

footer{
    font-size: 1.6rem;
    bottom: 0;
}

.s, .i, .bc, .sc, .yt{
    position: relative;
    width: 6.2rem;
    height: 1.8rem;
}

.bigTitle{
    width: max-content;
    white-space: nowrap;
    position: absolute;
    mix-blend-mode: screen;
    transition-duration: 0.2s;
    cursor: pointer;
}

.bigTitle.red{
    color: rgb(255,0,0);
    left:-0.1em;
    top:0;
}

.bigTitle.green{
    color: rgb(0,255,0);
    left: 0.05em;
    top:-0.1em;
}

.bigTitle.blue{
    color: rgb(0,0,255);
    left: 0.1em;;
    top:0.05em;
}

.bigTitleContainer:hover .red{
    transform: translate(0.1em);
    -webkit-transform:translate(0.1em);
}
.bigTitleContainer:hover .green{
    transform: translate(-0.05em, 0.1em);
    -webkit-transform: translate(-0.05em, 0.1em);
}
.bigTitleContainer:hover .blue{
    transform: translate(-0.1em, -0.05em);
    -webkit-transform: translate(-0.1em, -0.05em);
}

.subheader{
    position: fixed;
    top: 12vh;
    display: flex;
    justify-content: space-between;
    position: relative;
    font-size: 1.6rem;
    font-family: courierNew;
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-left: 4vw;
    padding-right: 4vw;
    z-index: 4;
}

.back, .next{
    position: relative;
    white-space: nowrap;
    width: 4.8rem;
    height: 1.8rem;
}

.smallTitle{
    white-space: nowrap;
    position: absolute;
    mix-blend-mode: screen;
    transition-duration: 0.1s;
    cursor: pointer;
}

.smallTitle.red{
    color: rgb(255,0,0);
    left:-0.07em;
    top:0;
}

.smallTitle.green{
    color: rgb(0,255,0);
    left: 0.03em;
    top:-0.07em;
}

.smallTitle.blue{
    color: rgb(0,0,255);
    left: 0.07em;;
    top:0.03em;
}

.smallTitleContainer:hover .red{
    transform: translate(0.07em);
    -webkit-transform: translate(0.07em);
}
.smallTitleContainer:hover .green{
    transform: translate(-0.03em, 0.07em);
    -webkit-transform: translate(-0.03em, 0.07em);
}
.smallTitleContainer:hover .blue{
    transform: translate(-0.07em, -0.03em);
    -webkit-transform: translate(-0.07em, -0.03em);
}

.hidden{
    visibility: hidden;
}

.diskContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 6vh;
    transition-duration: 0.6s;
    -webkit-transition-duration: 0.6s;
    transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
}

.mid{
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
}

.right{
    left: 72%;
    opacity: 45%;
}

.left{
    left:-72%;
    opacity: 45%;
}

.disk{
    mix-blend-mode: exclusion;
    position: absolute;
    width: 124rem;
    height: 124rem;
    left: 50%;
    transform: translate(-50%);
    border-radius: 124rem;
    background-color: black;
}

.disk.red{
    box-shadow: 0px 0px 40px 4px #F00;
}

.disk.green{
    box-shadow: 0px 0px 80px 8px #0F0;
}

.disk.blue{
    box-shadow: 0px 0px 100px 16px #00F;
}

.albumText{
    font-family: monument;
    font-size: 1rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-85%);
    line-height: 1.8rem;
    text-align: center;
    z-index: 4;
}

.albumText a{
    color: #6A6A6A;
    display: block;
}

.selected, .albumTitle{
    color: white !important;
}

.selected{
    cursor: pointer;
}

.reelvid{
    position: relative;
    width: 124rem;
    height: 124rem;
    border-radius: 124rem;
    overflow: hidden;
    left: 50%;
    transform: translate(-50%);
}

.reellayer{
    width: 124rem;
    height: 124rem;
    border-radius: 124rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 120px 120px #000 inset;
    z-index: 4;
}

.reelbgvid{
    /* object-fit: cover; */
    position: absolute;
    left: 50%;
    top: -10%;
    transform: translate(-50%);
    z-index: 3;
    width: 136vw;
}

.vid{
    position: relative;
    left: 50%;
    bottom: -30%;
    transform: translate(-50%);
    width: 52rem;
    height: 52rem;
    border-radius: 52rem;
    overflow: hidden;
}

.layer{
    width: 52rem;
    height: 52rem;
    border-radius: 52rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 50px 50px #000 inset;
    z-index: 4;
}

.vid video{
    /* object-fit: cover; */
    position: absolute;
    left: 50%;
    /* right: 50%; */
    transform: translate(-50%);
    z-index: 3;
    height: 100vh;
}

.curvedContainer{
    position: absolute;
    left: 50%;
    top: 10%;
    transform-origin: center;
    transform: translate(-50%) rotate(-80deg);
    width: 116rem;
    height: 116rem;
    border-radius: 116rem;
    color: white;
    font-family: monument;
    font-size: 1.6rem;
}

.animate{
    animation-name: spin;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes spin {
    from{transform: translate(-50%) rotate(-72deg)}
    to{transform: translate(-50%) rotate(72deg)}
}

.curvedTitle{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.curvedTitle span {
    height: 58rem;
    position: absolute;
    width: 1.6rem;
    left: 0;
    top: 0;
    transform-origin: bottom center;
}


.blackLayer{
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.00) 15%, rgba(0, 0, 0, 0.00) 85%, rgba(0, 0, 0, 0.8) 100%);
    z-index: 3;
}

/* pad */
@media screen and (min-width: 768px) and (max-width: 1440px) and (orientation:landscape){
    .cover div{
        font-size: 1.2rem;
    }
    
    header, footer{
        font-size: 1.8rem;
        padding-top: 4vh;
        padding-bottom: 4vh;
        padding-left: 5vw;
        padding-right: 5vw;
        width: 90vw;
        z-index: 4;
    }
    
    .name, .about{
        position: relative;
        width: 4.4rem;
        height: 2.4rem;
    }
    
    footer{
        font-size: 1.2rem;
    }
    
    .s, .i, .bc, .sc{
        position: relative;
        width: 6.4rem;
        height: auto;
    }

    .i, .sc{
        text-align: right;
    }

    .subheader{
        position: fixed;
        top: 6vh;
        display: flex;
        justify-content: space-between;
        position: relative;
        font-size: 1.2rem;
        font-family: courierNew;
        padding-top: 6vh;
        padding-bottom: 4vh;
        padding-left: 4vw;
        padding-right: 4vw;
        z-index: 4;
    }

    .back, .next{
        position: relative;
        white-space: nowrap;
        width: 3.4rem;
        height: 1.8rem;
    }

    
    .diskContainer{
        padding-top: 10vh;
    }
    
    .disk{
        mix-blend-mode: exclusion;
        position: absolute;
        width: 80rem;
        height: 80rem;
        border-radius: 40rem;
        background-color: black;
    }

    .reelvid{
        width: 80rem;
        height: 80rem;
        border-radius: 80rem;
    }
    
    .reellayer{
        width: 80rem;
        height: 80rem;
        border-radius: 80rem;
    }
    
    .reelbgvid{
        top: 5%;
        width: 112vw;
    }
    
    .vid{
        width: 32rem;
        height: 32rem;
        border-radius: 32rem;
    }
    
    .layer{
        width: 32rem;
        height: 32rem;
        border-radius: 32rem;
    }
    
    .albumText{
        transform: translate(-50%,-75%);
    }

    .curvedContainer{
        width: 76rem;
        height: 76rem;
        border-radius: 76rem;
        font-size: 1rem;
        top: 13%;
    }
    
    .curvedTitle span {
        height: 32rem;
    }
}


/* mobile */
@media only screen and (max-width: 768px) {
    .cover div{
        font-size: 1rem;
    }
    
    header, footer{
        font-size: 1.5rem;
        padding-top: 2vh;
        padding-bottom: 4vh;
        padding-left: 5vw;
        padding-right: 5vw;
        width: 90vw;
        z-index: 4;
    }
    
    .name, .about{
        position: relative;
        width: 4.4rem;
        height: 2.4rem;
    }
    
    footer{
        font-size: 1rem;
        bottom: 0;
        /* flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start; */
        display: grid;
        grid-auto-flow: column;
        grid-gap: 1rem;
        grid-template-rows: 1rem 1rem;
        justify-content: space-between;
        /* grid-template-columns: 2rem 2rem; */
        /* padding: 10px; */
    }
    
    .s, .i, .bc, .sc{
        position: relative;
        width: 6.4rem;
        height: auto;
    }

    .i, .sc{
        text-align: right;
    }

    .subheader{
        position: fixed;
        top: 6vh;
        display: flex;
        justify-content: space-between;
        position: relative;
        font-size: 1rem;
        font-family: courierNew;
        padding-top: 4vh;
        padding-bottom: 4vh;
        padding-left: 4vw;
        padding-right: 4vw;
        z-index: 4;
    }

    .back, .next{
        position: relative;
        white-space: nowrap;
        width: 3.4rem;
        height: 1.8rem;
    }

    .diskContainer{
        padding-top: 0;
    }
    
    .mid{
        left: -58%;
        top: 50%;
        transform: translate(0, -50%);
    }
    
    .right{
        left: -58%;
        top: 80%;
    }
    
    .left{
        left: -58%;
        top: -80%;
    }

    .disk{
        mix-blend-mode: exclusion;
        position: absolute;
        width: 48rem;
        height: 48rem;
        left: -58%;
        top: 50%;
        transform: translate(0, -50%);
        border-radius: 48rem;
        background-color: black;
    }
    
    .disk.red{
        box-shadow: 0px 0px 20px 2px #F00;
    }
    
    .disk.green{
        box-shadow: 0px 0px 40px 4px #0F0;
    }
    
    .disk.blue{
        box-shadow: 0px 0px 50px 8px #00F;
    }

    .albumText{
        font-size: 0.8rem;
        transform: translate(64%,-50%);
        line-height: 1.2rem;
        text-align: center;
        z-index: 4;
    }

    .reelvid{
        position: relative;
        width: 48rem;
        height: 48rem;
        border-radius: 48rem;
        overflow: hidden;
        left: -58%;
        top: 50%;
        transform: translate(0, -50%);
    }
    
    .reellayer{
        width: 48rem;
        height: 48rem;
        border-radius: 48rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0px 0px 60px 60px #000 inset;
        z-index: 4;
    }

    .reelbgvid {
        /* object-fit: cover; */
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0,-50%);
        z-index: 3;
        width: 72rem;
    }

    .vid {
        position: relative;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        width: 28rem;
        height: 28rem;
        border-radius: 28rem;
    }
    
    .layer{
        width: 28rem;
        height: 28rem;
        border-radius: 28rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0px 0px 50px 50px #000 inset;
        z-index: 4;
    }

    .vid video {
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        height: 64vh;
    }

    .curvedContainer{
        visibility: hidden;
    }
}